# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# Lua files (do not enforce newline or it will also split long expressions)
[*.lua]
indent_size = 2
insert_final_newline = false

# Markdown files
[*.md]
indent_size = 2

# Python files
[*.py]
indent_size = 2

# Bash shell scripts
[*.sh]
indent_size = 2

[*.xml]
indent_size = 2

# Yaml files
[*.{yml,yaml}]
indent_size = 2
