##############################
########## Windows ###########
Thumbs.db
Desktop.ini
*.lnk

##############################
##########   OsX   ###########
*.sublime*

##############################
##########  Stuff  ###########
.package/*

btm/
btm/*
.gitattributes

.vscode
.zed
*.lock
*.swp
*.bak
*.zip
*.tmp

.dist/
.env
