
##############################
########## Windows ###########
Thumbs.db
Desktop.ini
*.lnk


##############################
##########   OsX   ###########
*.sublime*


##############################
##########  Stuff  ###########
package/*

btm/
btm/*
.gitattributes

.vscode
*.bak
