
##############################
########## Windows ###########
Thumbs.db
Desktop.ini
*.bat
*.manifest
*.lnk



##############################
##########   OsX   ###########
*.sublime*


##############################
##########  Stuff  ###########
package.*

btm/
btm/*
.gitattributes
